# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Fichier de Mac qui va faire chier pas mal de Windowsien
.DS_Store

# Fichier workspace d'Eclipse
.metadata
.cproject
.project
.settings
Debug/

#Fichiers de codeblocks
Projet_TAO.cbp
.settings/
*.depend
*.layout